@model Report
<div class="row">
    <div class="col-md-6">
        <h2 class="my-4">Rapor Detay</h2>
    </div>
    <div class="col-md-6">
    </div>
</div>

@if (Model == null)
{
    <h1> Rapor Bulunamadı!</h1>
}
else
{

    <div class="row">
        <div class=col-md-6>
            <div class="card">
                <div class="card-header">
                    Bilgiler
                </div>
                <div class="card-body">
                    <h5 class="card-title">Rapor</h5>
                    <p class="card-text">Oluşturulma Zamanı : @Model.CreationTime</p>
                    <p class="card-text">Seçilen Konum : @Model.Location</p>
                    <p class="card-text">
                        Durum :
                        @if (@Model.ReportState.ToString() == "Preparing")
                        {
                            <span class="badge badge-pill p-2 badge-secondary bg-secondary">Hazırlanıyor...</span>
                        }
                        else if (@Model.ReportState.ToString() == "Completed")
                        {
                            <span class="badge badge-pill p-2 badge-success bg-success">Tamamlandı</span>
                        }
                    </p>
                </div>
            </div>
        </div>
        <div class=col-md-6>
            @if(Model.ReportState.ToString() == "Completed")
            {
                <div class="card mb-3">
                    <div class="card-header">
                        Rapor Bilgileri
                    </div>
                    <div class="card-body">
                        <p class="card-text"><strong>Kişi Sayısı : </strong>@Model.NumberofPerson</p>
                        <p class="card-text"><strong>Telefon No Sayısı : </strong>@Model.NumberofPhoneNumber</p>
                        <a asp-action="ExcelDownload" asp-route-id="@Model.Id" class="btn btn-sm btn-primary">Excel Olarak İndir</a>
                    </div>
                </div>
            }
        </div>

    </div>
}